body {
    background: url(../images/dark-triangles.png) repeat;
    font-family: 'Roboto', sans-serif;
}

.opacity-block {
    position: fixed;
    top: calc(50% - 295px/2);
    left: calc(50% - 312px/2);
    width: 312px;
    height: 295px;
    line-height: 20px;
    opacity: 0.35;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

.login-form {
    position: fixed;
    width: 279px;
    height: 260px;
    top: calc(50% - 260px/2);
    left: calc(50% - 279px/2);
    line-height: 20px;
    background-color: rgba(179, 179, 179, 1);
    text-align: center;
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}
.form-title {
    width: 53px;
    height: 29px;
    line-height: 26px;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    margin: 22px auto;
    text-transform: uppercase;
    font-weight: bold;
}


.form-input {
    width: 183px;
    height: 34px;
    line-height: 20px;
    border: 1px solid rgba(87, 87, 87, 1);
    background: #f1f1f1 url(../images/login-sprite.png) no-repeat;
    padding: 0px 5px 0px 30px;
    margin: 0 0 10px 0;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#login::-webkit-input-placeholder, #password::-webkit-input-placeholder {
    color: #000;
}
#login::-moz-placeholder, #password::-moz-placeholder {
    color: #000;
}

#login {
    background-position: 8px -8px !important;
}
#password {
    background-position: 8px -58px !important;
}

.form-submit {
    width: 166px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(255, 0, 15, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: center;
    border: 0;
    margin-top: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

.form-forgot-pwd {
    width: 81px;
    height: 29px;
    line-height: 15px;
    color: rgba(0, 0, 0, 1);
    font-size: 10px;
    text-align: center;
}

.error-login, .error-password {
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.confirm {
    display: none;
    position: fixed;
    width: 155px;
    height: 29px;
    top: calc(50% - 29px/2);
    left: calc(50% - 155px/2);
    line-height: 26px;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
